[mysqld_safe]
log_error=/var/log/mysql/mysql_error.log

[mysqld]
# 에러 로그 설정
log_error=/var/log/mysql/mysql_error.log

general_log_file        = /var/log/mysql/mysql.log
general_log             = 1


# 쿼리 로그 설정
log=/var/log/mysql/query.log

# 바이너리 로그 설정
log-bin=mysql-bin

# 슬로우 쿼리(slow query) 로그 설정
log-slow-queries=/var/log/mysql/mysql-slow.log
long_query_time=5

# UPDATE 쿼리 설정
log-update=update_logs